.my_button{
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    border-radius: 8px;
    transition: 250ms;
}

.my_button:hover{
    background-color: rgb(255, 153, 0);
    color: black;
    transition: 250ms;
}